<div class="footer-wrap">
    <div class="footer w1000">
        <div class="qrcode">
            <img src="__HOME__/images/qrcode_gh.jpg">
        </div>
        <div class="practice-mode">
            <div style="width:10px; margin-top: 5px;height: 160px;background-color: #76A8D6;float: left;margin-right: 10px;"></div>
            <div class="text">
                <h4 class="title">我的联系方式</h4>
                <p>微博<span class="WeChat">一米阳光_Grace</span></p>
                <p>邮箱<span class="email">xirizhifeng@163.com</span></p>
                <p>GitHub&nbsp;&nbsp;<a href="https://github.com/zhuifengxia" target="_blank" title="GitHub">https://github.com/zhuifengxia</a></p>
            </div>
        </div>
    </div>
</div>