<div class="header">
    <div class="menu-btn">
        <div class="menu"></div>
    </div>
    <h1 class="logo">
        <a href="index.html">
            <span>MYBLOG</span>
            <img src="__HOME__/images/logo.png">
        </a>
    </h1>
    <div class="nav">
        <a href="/" {$page_num==1?"class='active'":""}>文章</a>
        <a href="whisper.html" {$page_num==2?"class='active'":""}>微语</a>
        <a href="leacots.html" {$page_num==3?"class='active'":""}>留言</a>
        <a href="album.html" {$page_num==4?"class='active'":""}>相册</a>
        <a href="about.html" {$page_num==5?"class='active'":""}>关于</a>
    </div>
    <p class="welcome-text">
        欢迎来到<span class="name">小莫</span>的博客~
    </p>
</div>