<div class="header">
    <div class="menu-btn">
        <div class="menu"></div>
    </div>
    <h1 class="logo">
        <a href="index.html">
            <span>MYBLOG</span>
            <img src="__HOME__/images/logo.png">
        </a>
    </h1>
    <div class="nav">
        <a href="/" {$page_num==1?"class='active'":""}>文章</a>
        <a href="/whisper" {$page_num==2?"class='active'":""}>微语</a>
        <a href="/message" {$page_num==3?"class='active'":""}>留言</a>
        <a href="/album" {$page_num==4?"class='active'":""}>相册</a>
        <a href="/about" {$page_num==5?"class='active'":""}>关于</a>
<!--        <a href="/exam" {$page_num==6?"class='active'":""}>题库</a>-->
    </div>
    {if $page_num==6}
        {if $Think.session.web_index_user}
        <div class="welcome-text">
          <span>{$Think.session.web_index_user.user_name}</span>
        </div>
        {else /}
        <div class="welcome-text">
            <a href="javascript:;" onclick="showLogin(0)">登录</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="javascript:;" onclick="showLogin(1)">注册</a>
        </div>
        {/if}
    {else /}
    <p class="welcome-text">
        欢迎来到<span class="name">小莫</span>的博客~
    </p>
    {/if}
</div>

<script>
    layui.use(['form'],
        function () {
            form = layui.form;
        });
    var web_global_login_index;
    function showLogin(type){
        var title=type==1?"注册":"登录";
        $("#web_global_login_btn").val(title);
        $("#web_global_login_type").val(type);
        web_global_login_index = layer.open({
            type: 1,
            title:title,
            area: ["800px", "500px"],
            content: $("#web-login-global-div")
        });
    }
    function web_global_login() {
        var web_global_login_name=$("#web_global_login_name").val();
        var web_global_login_pwd=$("#web_global_login_pwd").val();
        var web_global_login_type=$("#web_global_login_type").val();
       if(web_global_login_name==""||web_global_login_pwd==""){
           layer.msg("用户名或密码不能为空");
           return false;
       }
        $.ajax({
            type: "post",
            url: "/user/login",
            data: "user_name="+web_global_login_name+"&user_pwd="+web_global_login_pwd+"&login_type="+web_global_login_type,
            success: function (res) {
                layer.msg(res.msg);
                if (res.code==0) {
                    layer.close(web_global_login_index);
                    window.location.reload();
                }else{
                    return false;
                }
            }
        });
    }
</script>
<div id="web-login-global-div" style="display: none;margin:0 auto;">
    <form method="post" class="layui-form" style="width: 60%;margin:50px auto;">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input id="web_global_login_name" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input id="web_global_login_pwd" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" id="web_global_login_type"/>
                <input type="button" class="layui-btn" onclick="web_global_login()" id="web_global_login_btn" value="登录"/>
            </div>
        </div>
    </form>
</div>