{extend name="layouts/main" /}
{block name="main"}
<script type="text/javascript" charset="utf-8" src="__ADMIN__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__ADMIN__/ueditor/ueditor.all.min.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="__ADMIN__/ueditor/lang/zh-cn/zh-cn.js"></script>
<style>
    .fileinput-button {
        position: relative;
        display: inline-block;
        margin-left: 10px;
        float: left;
        margin-right: 10px;
    }

    .fileinput-button input {
        position: absolute;
        right: 0px;
        top: 0px;
        opacity: 0;
        -ms-filter: 'alpha(opacity=0)';
        font-size: 30px;
    }
</style>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <a>{$details.id?"编辑":"添加"}文章</a>
                </div>
                <div class="layui-card-body layui-table-body layui-table-main">
                    <form action="/admin/articles/doAdd" method="POST" class="layui-form" enctype="multipart/form-data">
                        <div class="layui-form-item">
                            <label class="layui-form-label">文章标题</label>
                            <input type="hidden" name="id" value="{$details.id}"/>
                            <div class="layui-input-inline">
                                <input type="text" name="article_title" value="{$details.article_title}" class="layui-input"
                                       placeholder="请输入文章标题" style="width: 350px;">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">文章缩略图</label>
                            <div class="layui-input-block">
                                <input type="text" name="article_img" value="{$details.article_img}" class="layui-input" style="width:35%"/>
                            </div>
                        <span class="fileinput-button layui-btn">
                        <span>上传</span>
                        <input type="file" name="article_img" id="article_img" onchange="readfile()"/>
                        </span>
                            <div>
                                <img src="{$details.article_img}" style="max-width:150px;max-width:150px;"
                                     title="{$details.article_img}" id="imgarticle_img">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">文章分类</label>
                            <div class="layui-inline layui-show-xs-block">
                                <select name="type_id">
                                    {volist name="types" id="item"}
                                    <option value="{$item.id}" {$details.type_id==$item.id?"checked":""}>{$item.type_name}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">文章类型</label>
                            <div class="layui-input-block">
                                <input type="radio" name="article_type" value="0" title="原创" {$details.article_type.val==0?"checked":""}>
                                <input type="radio" name="article_type" value="1" title="转载" {$details.article_type.val==1?"checked":""}>
                                <input type="radio" name="article_type" value="2" title="翻译" {$details.article_type.val==2?"checked":""}>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">是否发布</label>
                            <div class="layui-input-block">
                                <input type="checkbox" value="1" name="is_publish"  lay-text="已发布|未发布" {$details.is_publish==1?"checked":""} lay-skin="switch">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">是否置顶</label>
                            <div class="layui-input-block">
                                <input type="checkbox" name="is_top" value="1"  lay-text="已置顶|未置顶" {$details.is_top==1?"checked":""} lay-skin="switch">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">文章摘要</label>
                            <div class="layui-input-block">
                                <textarea placeholder="请输入文章摘要" name="article_digest" class="layui-textarea">{$details.article_digest}</textarea>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">文章内容</label>
                            <div class="layui-input-block">
                                <script id="article_msg" name="article_msg" type="text/plain" style="width:100%;height:500px;">{$details.article_msg|raw}</script>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">文章关键词</label>
                            <div class="layui-input-block">
                                <input type="text" name="article_tag" value="{$details.article_tag}" class="layui-input"
                                       placeholder="请输入文章关键词(英文逗号间隔)">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    var ue = UE.getEditor('article_msg');
    //选择图片之后加载在页面
    function readfile() {
        var fileimg = document.getElementById("imgarticle_img");
        var file = document.getElementById("article_img");
        let reader = new FileReader();
        var file1 = file.files[0];
        reader.readAsDataURL(file1);
        reader.onload = function (result) {
            //reader对象的result属性存储流读取的数据
            fileimg.src = reader.result;
        }
    }
    layui.use('form', function(){
        var form = layui.form;
    });
</script>
{/block}
