{layout name="layouts/index" /}
<script src="__ADMIN__/lib/layui/layui.js"></script>
<div class="content whisper-content">
    <div class="cont">
        <div class="whisper-list">
            {volist name="data" id="item"}
            <div class="item-box">
                <div class="item">
                    <div class="whisper-title">
                        <i class="layui-icon layui-icon-date"></i><span class="hour">{$item.publish_time}</span><span class="date">{$item.publish_date}</span>
                    </div>
                    <p class="text-cont">
                        {$item.data_msg}
                    </p>
                    <div class="img-box">
                        <img src="{$item.data_img}">
                    </div>
                </div>
            </div>
            {/volist}
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        // 页数
        var page = 1;
        // dropload
        $('.cont').dropload({
            scrollArea : window,
            domUp : {
                domClass   : 'dropload-up',
                domRefresh : '<div class="dropload-refresh">↓下拉刷新</div>',
                domUpdate  : '<div class="dropload-update">↑释放更新</div>',
                domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>'
            },
            domDown : {
                domClass   : 'dropload-down',
                domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
                domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
                domNoData  : '<div class="dropload-noData">没有更多数据了</div>'
            },
            loadDownFn : function(me){
                page++;
                $.ajax({
                    type: 'POST',
                    url: '/whisper/next',
                    data:"page="+page,
                    dataType:"json",
                    success: function(res){
                        var html='';
                        if(res.length>0){
                            $.each(res,function (index,item) {
                                html += '<div class="item-box">\n' +
                                    '                <div class="item">\n' +
                                    '                    <div class="whisper-title">\n' +
                                    '                        <i class="layui-icon layui-icon-date"></i><span class="hour">'+item.publish_time+'</span><span class="date">'+item.publish_date+'</span>\n' +
                                    '                    </div>\n' +
                                    '                    <p class="text-cont">\n' +
                                    '                        '+item.data_msg+'\n' +
                                    '                    </p>\n' +
                                    '                    <div class="img-box">\n' +
                                    '                        <img src="'+item.data_img+'">\n' +
                                    '                    </div>\n' +
                                    '                </div>\n' +
                                    '            </div>';
                            })
                        }else{
                            // 锁定
                            me.lock();
                            // 无数据
                            me.noData();
                        }
                        // 为了测试，延迟1秒加载
                        setTimeout(function(){
                            // 插入数据到页面，放到最后面
                            $('.whisper-list').append(html);
                            // 每次数据插入，必须重置
                            me.resetload();
                        },1000);
                    },
                    error: function(xhr, type){
                        alert('Ajax error!');
                        // 即使加载出错，也得重置
                        me.resetload();
                    }
                });
            },
            threshold : 50
        });
        b();
        $('#gotop').click(function(){
            $(document).scrollTop(0);
        });
        function b(){
            h = $(window).height();
            t = $(document).scrollTop();
            if(t > h){
                $('#gotop').show();
            }else{
                $('#gotop').hide();
            }
        }
        $(window).scroll(function(e){
            b();
        });
    });
</script>

