<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="文章管理">&#xe6b5;</i>
                    <cite>文章管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('文章列表','{:url("/admin/articles/list")}')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>文章列表</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('分类管理','{:url("/admin/types/list")}')">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>分类管理</cite></a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="用户管理">&#xe6b8;</i>
                    <cite>用户管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('用户列表','{:url("/admin/users/list")}')">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>用户列表</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="微语管理">&#xe6b5;</i>
                    <cite>微语管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('微语列表','{:url("/admin/gossips/list")}')">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>微语列表</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('相册列表','{:url("/admin/album/list")}')">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>相册列表</cite></a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="评论管理">&#xe6b5;</i>
                    <cite>评论管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('评论列表','{:url("/admin/posting/list")}')">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>评论列表</cite></a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="系统管理">&#xe6ae;</i>
                    <cite>系统管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('管理员管理','{:url("/admin/system/industry")}')">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>管理员管理</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('博客配置','{:url("/admin/system/industry")}')">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>博客配置</cite></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
