{layout name="layouts/index" /}
<style>
    .course-list{
        display: flex;
        flex-direction: column;
    }
    .curse-title{
        font-weight: bold;
        font-size: 16px;
        height: 40px;
        line-height: 40px;
        margin-top: 20px;
    }
    .test-list{
        padding-bottom: 10px;
        padding-left: 20px;
        border-bottom: 1px solid #f2f2f2;
    }
    .test-list a{
        padding: 10px;
    }
</style>
<div class="about-content" style="background-color: white;">
    <div class="w1000">
        <div class="course-list">
            {volist name="course_list" id="item"}
            <div class="curse-title">{$item.type_name}</div>
            <div class="test-list">
                {volist name="item.child" id="child"}
                <a href="/exam/test/{$item.id}/{$child.id}">{$child.type_name}</a>
                {/volist}
            </div>
            {/volist}
        </div>
    </div>
</div>